@import 'tailwindcss';

:root {
	--black: #0a0a0a;
	--white: #f5f2ee;
	--lime: #c8ff00;
	--cyan: #00d4ff;
	--mid: #141414;
	--gray: #6b6864;
	--border: #1e1e1e;
	--font-display: 'Bebas Neue', sans-serif;
	--font-body: 'DM Sans', sans-serif;

	--red: #e53704;
	--orange: #fd6f00;
	--yellow: #f0cd13;
	--accent: #73d62b;
	--green: #03a337;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--black);
	color: var(--white);
	font-family: var(--font-body);
}

h2 {
	font-size: 12px;
	text-transform: uppercase;
	color: var(--accent);
	font-weight: 600;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;

	&::before {
		content: '';
		width: 2rem;
		height: 1px;
		background: var(--accent);
	}
}

.main-link {
	display: flex;
	gap: 1rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	color: var(--black);
	background-color: var(--white);
	padding: 0.5rem 1rem;
	font-size: 0.7rem;
	align-items: center;
	transition:
		background-color 0.3s,
		color 0.3s;
	width: fit-content;

	&:hover {
		background-color: var(--accent);
		color: var(--white);
	}

	span {
		transition: transform 0.2s;
		display: flex;
		align-items: center;
	}

	&:hover span {
		transform: translateX(4px);
	}
}

@media (width >= 48rem) {
	h2 {
		font-size: 24px;
		letter-spacing: 0.3rem;
		margin-bottom: 1.5rem;
		gap: 1rem;
	}

	.main-link {
		padding: 1rem 2rem;
		font-size: 1rem;
	}
}
